  <table [formGroup]="productForm"> 

    <tbody>
      <tr>
        <td>
          Name
        </td>
        <td>
          <input type="text" formControlName="name">
        </td>
      </tr>
      <tr>
        <td>
          id
        </td>
        <td>
          <input type="text" formControlName="id">
        </td>
      </tr>
      <tr>
        <td>
          price
        </td>
        <td>
          <input type="text" formControlName="price">
        </td>
        <td>
          <button (click)="resetPrice()">Reset</button>
        </td>
      </tr>
      <tr>
        <td>
          <button (click)="addFeature()">Add Feature</button>
        </td>
      </tr>
      <tr formArrayName="features">
          <td *ngFor="let control of productForm.get('features').controls; let i = index">
            <div>
              <input type="text" [formControlName]="i">
              <button (click)="removeFeature(i)">-</button>
            </div>
          </td>
      </tr>

      <tr formGroupName="manufactured">
        <td>
          <input type="text" formControlName="by">
        </td>
        <td>
          <input type="text" formControlName="year">
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" (click)="collectData()">
        </td>
        <td>
          <input type="reset" (click)="reset()">
        </td>
      </tr>
    </tbody>

  </table>

  <button (click)="setValue()"> SetValue</button>

  {{productForm.value | json}}
